body {
    background: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: red;
    outline: none;
    padding: 10px;
}
.container {
    background: red;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}
* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  img {
    border-radius: 25px;
}
.marquee {
    background-color: white;
    border-radius: 5px;
    font-weight: 5px;
    color: red;
}
a {
    text-decoration: none;
    outline: none;
}